{{- define "main" }}

<header class="page-header x-search-header">
  <h1>{{ .Title }}</h1>
  <div class="post-description">
    {{ .Summary | default "搜索飞行笔记里的文章、标签、分类和正文。" }}
  </div>
</header>

<div id="searchbox" class="searchbox x-searchbox">
  <input id="searchInput" disabled placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}"
    aria-label="搜索站内文章" type="search" autocomplete="off" maxlength="64">
  <ul id="searchResults" class="searchResults" aria-label="搜索结果"></ul>
</div>

{{- end }}
