{{- define "main" }}

{{- if .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

<ul class="terms-tags" aria-label="{{ .Title }}">
  {{- $type := .Type }}
  {{- range .Data.Terms.Alphabetical }}
    {{- $name := .Name }}
    {{- $count := .Count }}
    {{- with site.GetPage (printf "/%s/%s" $type $name) }}
    <li>
      <a href="{{ .RelPermalink }}">
        <span>{{ .LinkTitle }}</span>
        <span class="x-term-count">{{ $count }}</span>
      </a>
    </li>
    {{- end }}
  {{- end }}
</ul>

{{- end }}
